@{
    ViewData["Title"] = "Home Page";
}
    <div class="card-deck">

        @Html.CreateDashboardCard("images/homeWarm.webp", "images/fire.png", "15", "10", "/Termo", WarningLevel.bg_info)

        @Html.CreateDashboardCard("images/homeWarm.webp", "images/fire.png", "20", "20", "/Termo", WarningLevel.bg_light)

        @Html.CreateDashboardCard("images/homeWarm.webp", "images/fire.png", "10", "25", "/Termo", WarningLevel.bg_warning)

    </div>
